{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ root_url }}/javascripts/aharris.js"></script>

<!--Jquery Touch Events-->
<script type="text/javascript" src="../../../bower_components/jquery-touch-events/src/1.0.5/jquery.mobile-events.min.js"></script>

<script type="text/javascript" src="/compare/synchronize.js"></script>

<script type="text/javascript" src="/compare/compare.js"></script>

<script type="text/javascript" src="/compare/jquery.event.move.js"></script>
<script type="text/javascript" src="/compare/jquery.twentytwenty.js"></script>