{% unless page.no_header %}
  <header>
    {% if index %}
      <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
    {% else %}
      <div align=center><h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1></div>
    {% endif %}
  </header>
{% endunless %}
{% if index %}
  {% unless page.meta == false %}
    <p class="meta">
      {% include post/date.html %}{{ time }}
      {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
       | <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
      {% endif %}
    </p>
  {% endunless %}
  <a href="{{ root_url }}{{ post.url }}">{{ content | excerpt }}</a>
  {% capture excerpted %}<a href="{{ root_url }}{{ post.url }}">{{ content | has_excerpt }}</a>{% endcapture %}
{% else %}
<div class="entry-content">{{ content }}</div>
<div align=center>
<br /> <em>// tagged under:</em> <br /> <br />
{% include post/categories.html %}</div>
{% endif %}
