<aside class="sidebar">
  <div align="center">{% if site.simple_search %}
    <script async src='https://cse.google.com/cse.js?cx=partner-pub-6414589669938505:9218640000'></script><div class="gcse-searchbox-only"></div>
    <br><br>
    <font face="CubanoRegular"><h2>[<a href={{ site.url }}>Home</a>]</h2></font>
    <font face="CubanoRegular"><h2>[<a href=/episodelist/>Episode List</a>]</h2></font>
    <font face="CubanoRegular"><h2>[<a href="/contact/">Contact</a>]</h2></font>
    <font face="CubanoRegular"><h2>[<a href="/atom.xml">RSS Feed</a>]</h2></font>
    <font face="CubanoRegular"><h2>[<a href="/donate/">Donate?</a>]</h2></font>
    <br>
    <br>
  {% endif %}

      </div>
</aside>
